<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hazel's Blog Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top-bar">
        <h1><a href="https://hazelsite.vercel.app/" style="color: #B782D9;">Hazel's Blog</a></h1>
    </div>
    <div class="content">
        <div class="text-container">
            <h2 style="color: #B782D9;">Title: yap yap, yappity. Loooooong title test, woo hoo! I hope this works decently.</h2>
            <p style="color: #E6C1FE;">Yap yap, yappity yap yap. If I were to put the lorem ipsum here I think it would be fine. I don't know, you never know, but I think just yapping about it would be fine.</p>
        </div>
    </div>
</body>
</html>
