<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE BLOG PAGE</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top-bar">
        <h1><a href="https://hazelsite.vercel.app/" style="color: #B782D9;">Hazel's Blog</a></h1>
    </div>
    <div class="content">
        <h2 style="color: #B782D9;">Title: yap yap, yappity</h2>
        <p style="color: #E6C1FE;">Yap yap, yappity yap yap</p>
    </div>
</body>
</html>
